django>=3.0.3
coverage>=4.5.4
psycopg2-binary
gunicorn
tblib
djangorestframework>=3.11
django-cors-headers
Markdown
Pygments
django-filter
pyyaml
uritemplate
faker
drf-yasg>=1.16.1
packaging
tqdm
drf-tweaks
django-silk
